<d<div class="container">
    <div class="hero-unit">
<h1 style="text-align: center;">KANS</h1>
<h4 style="padding: 0px 0px 10px 0px; text-align: center;">Kevin's Awesome new Site</h4>
<h5 style="text-align: center;">We Dont know what it is yet.  But it will be awesome.</h5>

<div class="apply-button"><a href="/users/sign_up" class="btn btn-large btn-success" style="font-size:3.0em; line-height: 1.1em;">Sign Up Now</a>
</div>
</div>

     <hr>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h2 style="text-align: center;">Text</h2>
          <p>BODY TEXT</a> </p>
          <p><a class="btn" href="#">View details »</a></p>

        </div>
        <div class="span4">
          <h2 style="text-align: center;">TEXT2</h2>
          <p>TEXT </p>
          <p><a class="btn" href="#">View details »</a></p>
       </div>
        <div class="span4">
          <h2 style="text-align: center;">TEXt</h2>
          <p>TEXT</p>
          <p><a class="btn" href="#">View details »</a></p>
        </div>
      </div>

      <hr>

</div>






